@page
@model ContosoPets.Ui.Pages.OptionChains.IndexModel
@{
    ViewData["Title"] = "Admin Index";
}

<h1>@Model.OptionChain.symbol</h1>
<hr />


<div class="panel-group" id="accordion">

    @foreach (KeyValuePair<string, Models.ExpirationDate>
expDate in Model.OptionChain.callExpDateMap)
    {
        dynamic value = expDate.Value;

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Call Exp Date @expDate.Key
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    @foreach (KeyValuePair<string, Models.StrikeData[]>
                       strike in value)
                    {
                        string sstrike = strike.Key;
                        Models.StrikeData[] svalue = strike.Value;
                        <h2>@sstrike</h2>

                        <h3>Strikes</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>bid</th>
                                    <th>ask</th>
                                    <th>last</th>
                                    <th>put/call</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var s in svalue)
                                {
                                    <tr>
                                        <td>@s.bid</td>
                                        <td>@s.ask</td>
                                        <td>@s.last</td>
                                        <td>@s.putCall</td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                    }
                </div>
            </div>
        </div>



    }


</div>
